@page "/"
@inject IJSRuntime JS

<div class="row">
    <select name="remote" id="remote" class="form-select col mx-1">
    </select>
    <select name="local" id="local" class="form-select col mx-1">
    </select>
</div>

<div class="row">
    <p id="remoteH" class="col bg-dark text-white mx-1" style="overflow: scroll; height: 200px">

    </p>

    <p id="localH" class="col bg-dark text-white mx-1" style="overflow: scroll; height: 200px">
    </p>
</div>

<div class="row">
    <input type="text" id="note" class="col bg-dark text-white mx-1" @onkeydown="Compare">
    </input>
</div>
<div class="row justify-content-end">
    <button class="btn btn-dark btn-sm col-auto" @onclick="Save">Save history</button>
</div>

<script>
    function getText()
    {
        return document.getElementById("note").value;
    }
    function clearText()
    {
        document.getElementById("note").value = "";
    }
    function setChats(remote, local)
    {
        document.getElementById("remoteH").innerText += "\n" + remote;
        document.getElementById("localH").innerText += "\n" + local;
    }
    function setRemoteModels(models)
    {
        var select = document.getElementById("remote");
        for (var i = 0; i < models.length; i++)
        {
            var opt = document.createElement("option");
            opt.value = models[i];
            opt.innerHTML = models[i];
            select.appendChild(opt);
        }
    }
    function setLocalModels(models)
    {
        var select = document.getElementById("local");
        for (var i = 0; i < models.length; i++)
        {
            var opt = document.createElement("option");
            opt.value = models[i];
            opt.innerHTML = models[i];
            select.appendChild(opt);
        }
    }
    function remoteModel()
    {
        return document.getElementById("remote").value;
    }
    function localModel()
    {
        return document.getElementById("local").value;
    }
    function getLocalChats()
    {
        console.log(document.getElementById("localH").innerText);
        return document.getElementById("localH").innerText;
    }
    function getRemoteChats()
    {
        console.log(document.getElementById("remoteH").innerText);
        return document.getElementById("remoteH").innerText;
    }
    function saveAsFile(byteArray, fileName)
    {
        const url = URL.createObjectURL(new Blob([byteArray], { type: "text/plain" }));
        const link = document.createElement("a");
        link.href = url;
        link.download = fileName;
        link.click();
        URL.revokeObjectURL(url);
        link.remove();
    }
    function saveFile(data, fileName)
    {
        const byteArray = new TextEncoder().encode(data);
        saveAsFile(byteArray, fileName);
    }
</script>

@code {
    public HttpClient httpClient = new HttpClient();
    public Dictionary<string, string>? response = new Dictionary<string, string>();

    public async Task Compare(KeyboardEventArgs e)
    {
        if (e.Key != "Enter")
        {
            return;
        }
        var text = await JS.InvokeAsync<string>("getText");
        if (text == null || text == "")
        {
            return;
        }
        string remoteModel = await JS.InvokeAsync<string>("remoteModel");
        string localModel = await JS.InvokeAsync<string>("localModel");
        var data = new { query = text, remote = remoteModel, local = localModel };

        var content = JsonContent.Create(data);
        var response = await httpClient.PostAsync("http://fastapi:8000/compare", content);

        if (response.IsSuccessStatusCode)
        {
            var jsonResponse = await response.Content.ReadAsStringAsync();
            var responseDict = JsonSerializer.Deserialize<Dictionary<string, string>>(jsonResponse);
            this.response = responseDict;
            await JS.InvokeVoidAsync("setChats", responseDict?["external_huggingface"], responseDict?["local_model"]);
        }
        else
        {
            // Handle error status code
            Console.WriteLine($"Failed to post data. Status code: {response.StatusCode}");
        }
        await JS.InvokeVoidAsync("clearText");
    }
    public async Task GetAvailableModels()
    {
        var response = await httpClient.GetAsync("http://fastapi:8000/models");
        //make response a table of strings
        if (response.IsSuccessStatusCode)
        {
            var jsonResponse = await response.Content.ReadAsStringAsync();
            var responseDict = JsonSerializer.Deserialize<List<string>>(jsonResponse);
            await JS.InvokeVoidAsync("setLocalModels", responseDict);
        }
        else
        {
            // Handle error status code
            Console.WriteLine($"Failed to post data. Status code: {response.StatusCode}");
        }
        var response2 = await httpClient.GetAsync("http://fastapi:8000/remotemodels");
        //make response a table of strings
        if (response2.IsSuccessStatusCode)
        {
            var jsonResponse = await response2.Content.ReadAsStringAsync();
            var responseDict = JsonSerializer.Deserialize<List<string>>(jsonResponse);
            await JS.InvokeVoidAsync("setRemoteModels", responseDict);
        }
        else
        {
            // Handle error status code
            Console.WriteLine($"Failed to post data. Status code: {response.StatusCode}");
        }
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await GetAvailableModels();
        }
    }
    public async Task Save()
    {
        var data = "Remote:\n" + await JS.InvokeAsync<string>("getRemoteChats") + "\nLocal:\n" +
        await JS.InvokeAsync<string>("getLocalChats");
        await JS.InvokeVoidAsync("saveFile", data, "history.txt");
    }
}